body{
    background-color: #FFEBF0;
    background: url(/corazon2.1.png) repeat-y right,url(/corazon-1.1.png) repeat-y left; 
    background-size: 100px;
}
h1{
    text-align: center;
}

div{
    margin: 0 auto;
    border: black 2px solid;
    margin-bottom: 8px;
    width: 1300px;
}

.poema1{
  text-align: center; 
  color: white; 
  font-weight: bold;
  background: url(/Fondo\ amarillo.png);
  background-repeat: round;
}
.poema2{
    text-align: center;
    color: #FFDD27;
    font-weight: bold;
    background: url(/FireIcon.svg.png) no-repeat bottom left, url(/FireIcon.svg.png) no-repeat bottom right, url(/fondo\ rosa.png);

   
}